nav ul li {
	display: inline;
	list-style:none;
}

nav ul li a {
	font-family: Arial, serif;
	font-size: 30px;
	color: black;
}

nav ul li a:hover {
	font-family: Arial, serif;
	font-size: 30px;
	color: blueviolet;
	text-decoration: none;
}


.grid {
	background-color: #B7C3B7;
	color: white;
	display: inline-grid;
}

.grid-head {
	background-color: navy;
	border: 1px solid black;
	color: rgb(247, 2, 2);
}

.grid ul {
	border: 1px solid black;
	margin: 0;
	padding: 0;
}
.grid ul li {
	display: table-cell;
	list-style:none;
}

.grid ul li .small {
	width: 100px;
}

.grid ul li .mid {
	width: 200px;
}

.grid ul li .large {
	width: 400px;
}

.line-0 {
	background-color: gray;
}

.line-1 {
	background-color: white;
}

#list-grid {
	border: 2px solid blue;
}