header {
	background-color: olive;
	margin: 0;
	padding: 0;
}

footer {
	background-color: olive;
	display: block;
}

footer * {
	display: inline;
}


nav {
	margin: 0;
	padding: 0;
	background-color: teal;
}

nav ul li {
	display: inline;
	list-style:none;
}

nav ul li a {
	font-family: Arial, serif;
	font-size: 30px;
	color: black;
}

nav ul li a:hover {
	font-family: Arial, serif;
	font-size: 30px;
	color: #0080ff;
	text-decoration: none;
}


.grid {
	color: black;
	display: inline-grid;
}

.grid-head {
	background-color: #B7C3B7;
	border: 1px solid black;
}

.grid-head div {
	color: #024722;
	font-family: Verdana;
	font-weight: bold;
}


.grid ul {
	border: 1px solid black;
	margin: 0;
	padding: 0;
}

.grid ul li {
	display: table-cell;
	list-style:none;
	border: 1px solid gray;
}

.grid ul li .small {
	width: 100px;
}

.grid ul li .mid {
	width: 200px;
}

.grid ul li .large {
	width: 400px;
}

.line-0 {
	background-color: #C7C7C7;
}

.line-1 {
	background-color: #A0A0A0;
}

#list-grid {
	border: 1px solid black;
}